<p id='alert'><%= alert %></p>

<%= form_with(url: sessions_path , local: true) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Entrar", class: "btn btn-primary" %>
<% end %>