<%= link_to 'Voltar', user_path,  class:'back' %>

<h3>Editar cadastro</h3>

<%= form_for(@user) do |f| %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, 'Senha' %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmação de senha" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "Atualizar conta", class: "btn" %>
<% end %>