<p id="notice"><%= notice %></p>

<%= link_to 'Voltar', users_path,  class:'back' %>

<div id="user">
    <div class='personal'>
    <img src="https://api.adorable.io/avatars/250/abott@adorable.png">
        <strong><%= @user.name%></strong>
    </div>
    <div class='follow'>
        <span>Seguindo <%= @user.following.count%></span>
        <span>Seguido por <%= @user.followers.count%></span>
        <span>Posts: <%= @user.posts.count%></span>
    </div>
    <button type="button">Follow</button>
</div>

<%= render 'posts/posts', posts:  @user.posts.order('created_at DESC') %>

