<p id="notice"><%= notice %></p>

<%= link_to 'Voltar', users_path,  class:'back' %>

<p id='alert'><%= alert %></p>

<div id="user">
    <div class='personal'>
    <img src="https://api.adorable.io/avatars/250/abott@adorable.png">
        <strong><%= @user.name%></strong>
    </div>
    <div class='follow'>
        <span>Seguindo <%= @user.following.count%></span>
        <span>Seguido por <%= @user.followers.count%></span>
        <span>Posts: <%= @user.posts.count%></span>
    </div>
    <% if @user.id == current_user.id %>
        <%= link_to edit_user_path do%>
            <button type="button">Editar</button>
        <% end %>
    <% else %>
        <% if !current_user.following.exists?(@user.id) %>
            <%= link_to follows_path( follower_id: current_user, following_id: @user.id), method: :post do%>
                <button type="button">Seguir</button>
            <% end %>
        <% else %>
            <%= link_to follow_path( follower_id: current_user, following_id: @user.id), method: :delete do%>
                <button type="button">Deixar de seguir</button>
            <% end %>
        <% end %>
    <% end %>

</div>

<%= render 'posts/posts', posts:  @user.posts.order('created_at DESC') %>

