<p id="notice"><%= notice %></p>

<ul id="posts-list">
  <% @posts.each do |post| %>
    <li >
      <%= link_to post do %>
        <div class='user-info'>
          <img src="https://api.adorable.io/avatars/250/abott@adorable.png"/>
          <strong><%= post.user.name %></strong>
        </div>
        <div class='post-data'>
          <strong><%= post.title %></strong>
          <p><%= post.body %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>