<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "Blog", root_path, id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <% if current_user%>
            <li><%= link_to "Criar novo Post",   '#' %></li>
            <li><%= link_to "Seguir pessoas",   '/users'  %></li>
            <li><%= link_to "Sair", '/signout' %></li>
            <%  else%>
            <li><%= link_to "Entrar", '/signin' %></li>
            <li><%= link_to "Cadastro", '/signup' %></li>
            <% end%>
        </ul>
    </nav>
    </div>
</header>